# -----------------------------
# Raw datasets (DO NOT COMMIT)
# -----------------------------
Data/Raw/
*.csv
*.zip
*.7z

# -----------------------------
# Python environment
# -----------------------------
venv/
.env/
__pycache__/
*.pyc

# -----------------------------
# System files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Initial Files
# -----------------------------
Initial case files/
# mac system files
.DS_Store

# raw datasets (never commit)
data/Raw/
data/raw/

# large CSVs
*.csv
